@model DataAccessLayer.Entities.User

<h1>User Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">Phone</dt>
        <dd class="col-sm-10">@Model.Phone</dd>

        <dt class="col-sm-2">Date of Birth</dt>
        <dd class="col-sm-10">@Model.DateofBirth.ToShortDateString()</dd>
    </dl>
</div>

<p>
    <a asp-action="Index">Back to List</a>
</p>
