@model List<CustomerCRUD.Models.FinalCustomerViewModel>

   
@{
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Date Of Birth</th>
            <th>Goods</th>
            <th  style="text-align: center;">Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var customer in Model)
        {
        <tr>
            <td>@customer.name</td>
                <td>@customer.email</td>
                <td>@customer.phoneNumber</td>
                <td>@customer.address</td>
                <td>@customer.dateofBirth.ToString("dd-MM-yyyy")</td>
                <td>@customer.goodsName</td>
                <td><a class="btn btn-primary p-1" href="Update/@customer.id" >Update</a>
                    <a class="btn btn-danger p-1 " href="Delete/@customer.id" >Delete</a>
                    <a class="btn btn-primary p-1" href="Details/@customer.id" >Details</a>
                </td>
        </tr>
        }
    </tbody>
</table>