@model CustomerCRUD.Models.CustomerGoods


<h2 style="text-decoration:underline"> Customer Details</h2>

<style>

    div
    {
        padding:7px 0px;
    }

    .btn
    {
        margin-left: 13px;
    }
</style>


<div class="container">
    <div><strong>Customer ID: </strong>@Model.Cust.Cust_Id</div>
    <div><strong>Name: </strong>@Model.Cust.Name</div>
    <div><strong>Email: </strong>@Model.Cust.Email</div>
    <div><strong>Phone: </strong>@Model.Cust.PhoneNumber</div>
    <div><strong>Address: </strong>@Model.Cust.Address</div>
    <div><strong>Date Of Birth: </strong>@Model.Cust.DateofBirth.ToString("dd-MM-yyyy")</div>
    <div><strong>Goods Purchased: </strong>@Model.Gds.goodsName</div>
</div>

<div><a class="btn btn-primary" href="@Url.Action("CustomerList", "Customer")" role="button">Back</a></div> 